html body {
    padding: 0;
    margin: 0;
    background-color: seashell;
    font-family: "Montserrat", sans-serif;
}

.head {
    background-color: black;
    padding: 5px 15px 5px 5px;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 5px 5px 5px 5px;
}

.name_logo {
    grid-column: 1;
    justify-self: start;
    font-size: 30px;
    align-items: center;
    color: white;
}

.navigation_brand {
    font-size: 28px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.navigation_collapse {
    margin-top: 10px;
    grid-column: 2;
    justify-self: center;
}

.nav_link.active {
    background-color: seashell;
    color: rgba(37, 37, 37);
    font-weight: bold;
    border-radius: 5px;
}

.navigation_collapse ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: -10px;
    padding: 0;
}

.navigation_collapse ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

.navigation_collapse ul li a:hover {
    color: #ddd;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

