html body {
    padding: 0;
    margin: 0;
    background-color: seashell;
}

.head {
    background-color: black;
    padding: 5px 15px 5px 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name_logo {
    display: flex;
    font-size: 30px;
    align-items: center;
    color: white;
}

.navbar-brand {
    font-size: 28px;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.navbar-collapse ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: -10px;
    padding: 0;
}

.navbar-collapse ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

.navbar-collapse ul li a:hover {
    color: #ddd;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.button {
    font-size: 15px;
    padding: 15px 24px;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: seashell;
}

.full-width-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.container {
    position: relative;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.testo_immagine {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px 40px;
    font-size: 25px;
}